.EnvPage{
    width: 100%;
    background-color: #e9ebee;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.TopEnvPage{
    width: 80%;
    display: flex;
    justify-content: space-between;
}